<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Live Screen Stream (WebRTC)</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stream.css') }}">
</head>
<body>
    <h2>📺 Live Screen Stream</h2>

  <div id="controls">
    <h1>🎵 Remote Media Control</h1>
    <button onclick="sendAction('previous')">⏮️ Prev</button>
    <button onclick="sendAction('playpause')">⏯️ Play/Pause</button>
    <button onclick="sendAction('next')">⏭️ Next</button>
    <button onclick="sendAction('volumedown')">🔉 Volume -</button>
    <button onclick="sendAction('volumeup')">🔊 Volume +</button>
  </div>

  <video id="video" autoplay playsinline></video>

  <script src="{{ url_for('static', filename='javascript/stream.js') }}"></script>
</body>
</html>
