body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),transparent),
  radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13),transparent)
}
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  position: absolute;
  bottom: 2vmin;
  right: 2vmin;
  color: rgba(255,255,255,0.2);
  text-decoration: none;
}

a:hover {
  color: #fff;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8);
}


/* Form Section */


#commandForm {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#commandSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#commandInput {
    padding: 10px;
    font-size: 1rem;
    width: 75%;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

#commandInput:focus {
    border-color: #5c6bc0;
    outline: none;
}

button {
    background-color: #5c6bc0;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #0c2de9;
}

/* Audio Controls */
#audio {
    display: none;
}

#mic, #send_img {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

#mic_img, #send_img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#mic:hover, #send_img:hover {
    transform: scale(1.1);
}

/* Response Message */
#response {
    font-size: 1.1rem;
    color: #ddd;
    margin-top: 20px;
}