.body{
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#video{
    width: 100%;
    height: auto;
    background-color: #000000;
}
.button{
    background-color: #1E88E5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.button:hover{
    scale: (1.2);
}
#controls{
    display: flex;
    flex-direction: column;
}
#volumeControl{
    display: flex;
    align-items: center;
    margin: 10px;
}